<div class="container body-content">
    <div class="row">
        {{#each articles}}
            <div class="col-md-4 col-sm-4 user-box">
                <article class="user-article">
                    <div id="image">
                        <a href="/article/details/{{this.id}}" id="a-details">

                        <div class="author">
                            <h3>{{this.author.fullName}}</h3>
                        </div>
                        </a>
                    </div>

                    <p>
                        {{#each this.tags }}
                         Residence City: <a class="text-center"
                               href="/tag/{{this.name}}">{{ this.name }}</a>
                        {{/each}}
                    </p>

                </article>
            </div>
        {{/each}}
    </div>
</div>
