<div class="container body-content">
    <div class="row">
        {{#each professions}}
            <div class="col-md-6">
                <header>
                    <img class="img" src="/images/d-man-sitting-thinking-red-question-marks-box-over-white-background-32812068.jpg";>
                    <h2> <a href="/profession/{{this.id}}">
                        {{this.name}}({{this.articles.length}})
                    </a>
                    </h2>
                </header>
            </div>
        {{/each}}
    </div>
</div>
