<div class="container body-content">
    <div class="row">
        {{#each articles}}
            <div class="col-md-6">
                <article>
                    <header>
                        <h2>{{this.profession}}</h2>
                    </header>

                    <img class="img" src="/images/d-man-sitting-thinking-red-question-marks-box-over-white-background-32812068.jpg">

                    <small class="author">
                        <b>{{this.author.fullName}}</b>
                    </small>

                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-info btn-sm" href="/article/details/{{this.id}}">Read more &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        {{/each}}
    </div>
</div>
